<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="center-col">
    <main class="post">
      <header>
        <h1>{{ page.title }}</h1> 
        <div class="date">
          <time datetime="{{page.date | date: '%Y-%m-%d %H:%M'}}">{{page.date | date: "%-d %B %Y"}}</time>
        </div>
      </header>
      <div class="content-wrapper">
        {{ content }}
      </div>
    </main>
    </div>
    {% include footer.html %}
  </body>
</html>